openapi: 3.1.0
info:
  title: Snappr Availability Coverage API
  version: 1.0.0
  summary: The API for visual content.
  description: 'The Snappr API is a universal API for commissioning and handling visual content: on-demand photography with Snappr network photographers, automated and human-augmented photo editing services, and retrieval of the resulting images and videos. The API is available only to Snappr for Enterprise customers. Faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://docs.snappr.com/ (no fabricated operations or fields).'
  contact:
    name: Snappr for Enterprise
    url: https://www.snappr.com/enterprise
  x-apievangelist-generated: true
servers:
- url: https://api.snappr.com
  description: Production
- url: https://sandbox.snappr.com
  description: Sandbox (returns dummy data; write actions are not persisted)
security:
- bearerAuth: []
tags:
- name: Coverage
  description: Check Snappr coverage for a location and shoot type.
paths:
  /coverage:
    get:
      operationId: getCoverage
      tags:
      - Coverage
      summary: Get Coverage
      description: Returns Snappr coverage status (boolean) for a given location and shoot type. Coverage status is independent of specific dates or times. Provide either an address, or latitude and longitude.
      parameters:
      - $ref: '#/components/parameters/AcceptVersion'
      - name: latitude
        in: query
        description: Latitude of the shoot location.
        schema:
          type: number
      - name: longitude
        in: query
        description: Longitude of the shoot location.
        schema:
          type: number
      - name: address
        in: query
        description: Address of the shoot location. Must be a Google Maps valid address.
        schema:
          type: string
      - name: shoottype
        in: query
        required: true
        description: Name of the shoot type (e.g. "event").
        schema:
          type: string
      - name: creator_id
        in: query
        description: Identifier of a creator, to check coverage for a specific creator.
        schema:
          type: string
      responses:
        '200':
          description: Coverage result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coverage'
              example:
                latitude: 34.0522
                longitude: -118.2437
                shoottype: event
                coverage: false
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
components:
  schemas:
    Coverage:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
        shoottype:
          type: string
        coverage:
          type: boolean
    Error:
      type: object
      description: Snappr error envelope. Named error in the response body with an optional Problems field on validation errors.
      properties:
        name:
          type: string
        message:
          type: string
        problems:
          type: array
          items:
            type: object
  responses:
    Error:
      description: Error response. See the error catalog for named error codes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    AcceptVersion:
      name: accept-version
      in: header
      required: false
      description: Requested API version (e.g. "1.0.0").
      schema:
        type: string
        default: 1.0.0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as a bearer token in the Authorization header (Authorization: Bearer <api_key>). Each user has a single unique active API key, managed in the Snappr Photography Portal.'
externalDocs:
  description: Snappr API Documentation
  url: https://docs.snappr.com/
