openapi: 3.1.0
info:
  title: Snappr Availability API
  version: 1.0.0
  summary: The API for visual content.
  description: 'The Snappr API is a universal API for commissioning and handling visual content: on-demand photography with Snappr network photographers, automated and human-augmented photo editing services, and retrieval of the resulting images and videos. The API is available only to Snappr for Enterprise customers. Faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://docs.snappr.com/ (no fabricated operations or fields).'
  contact:
    name: Snappr for Enterprise
    url: https://www.snappr.com/enterprise
  x-apievangelist-generated: true
servers:
- url: https://api.snappr.com
  description: Production
- url: https://sandbox.snappr.com
  description: Sandbox (returns dummy data; write actions are not persisted)
security:
- bearerAuth: []
tags:
- name: Availability
  description: Check available shoot start times.
paths:
  /availability:
    get:
      operationId: getAvailability
      tags:
      - Availability
      summary: Get Availability
      description: Returns available shoot start times for a combination of location, date, shoot type and duration. Returned times are always in UTC.
      parameters:
      - $ref: '#/components/parameters/AcceptVersion'
      - name: latitude
        in: query
        schema:
          type: number
      - name: longitude
        in: query
        schema:
          type: number
      - name: address
        in: query
        description: Address of the shoot location. Must be a Google Maps valid address.
        schema:
          type: string
      - name: shoottype
        in: query
        required: true
        schema:
          type: string
      - name: duration
        in: query
        required: true
        description: Length of the shoot in minutes.
        schema:
          type: integer
      - name: date
        in: query
        required: true
        description: Date for which to check time availability (ISO date).
        schema:
          type: string
          format: date
      - name: creator_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Availability result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
components:
  schemas:
    Availability:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
        shoottype:
          type: string
        duration:
          type: integer
        date:
          type: string
          format: date
        timezone:
          type: string
        available_times:
          type: array
          items:
            type: string
            format: date-time
    Error:
      type: object
      description: Snappr error envelope. Named error in the response body with an optional Problems field on validation errors.
      properties:
        name:
          type: string
        message:
          type: string
        problems:
          type: array
          items:
            type: object
  responses:
    Error:
      description: Error response. See the error catalog for named error codes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    AcceptVersion:
      name: accept-version
      in: header
      required: false
      description: Requested API version (e.g. "1.0.0").
      schema:
        type: string
        default: 1.0.0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as a bearer token in the Authorization header (Authorization: Bearer <api_key>). Each user has a single unique active API key, managed in the Snappr Photography Portal.'
externalDocs:
  description: Snappr API Documentation
  url: https://docs.snappr.com/
