openapi: 3.1.0
info:
  title: Snappr API
  version: 1.0.0
  summary: The API for visual content.
  description: >-
    The Snappr API is a universal API for commissioning and handling visual
    content: on-demand photography with Snappr network photographers, automated
    and human-augmented photo editing services, and retrieval of the resulting
    images and videos. The API is available only to Snappr for Enterprise
    customers. Faithfully generated by the API Evangelist enrichment pipeline
    from the public documentation at https://docs.snappr.com/ (no fabricated
    operations or fields).
  contact:
    name: Snappr for Enterprise
    url: https://www.snappr.com/enterprise
  x-apievangelist-generated: true
externalDocs:
  description: Snappr API Documentation
  url: https://docs.snappr.com/
servers:
  - url: https://api.snappr.com
    description: Production
  - url: https://sandbox.snappr.com
    description: Sandbox (returns dummy data; write actions are not persisted)
security:
  - bearerAuth: []
tags:
  - name: Coverage
    description: Check Snappr coverage for a location and shoot type.
  - name: Availability
    description: Check available shoot start times.
  - name: Bookings
    description: Create and retrieve photoshoot bookings.
  - name: Editing Jobs
    description: Create and retrieve photo editing jobs (beta).
  - name: Presets
    description: Editing presets defined in the Photography Portal.
  - name: Images
    description: Retrieve images for bookings and editing jobs.
  - name: Videos
    description: Retrieve videos for bookings.
  - name: Shoot Types
    description: Available Snappr shoot types.
  - name: Editing Job Types
    description: Available Snappr editing job types.
paths:
  /coverage:
    get:
      operationId: getCoverage
      tags: [Coverage]
      summary: Get Coverage
      description: >-
        Returns Snappr coverage status (boolean) for a given location and shoot
        type. Coverage status is independent of specific dates or times. Provide
        either an address, or latitude and longitude.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - name: latitude
          in: query
          description: Latitude of the shoot location.
          schema: { type: number }
        - name: longitude
          in: query
          description: Longitude of the shoot location.
          schema: { type: number }
        - name: address
          in: query
          description: Address of the shoot location. Must be a Google Maps valid address.
          schema: { type: string }
        - name: shoottype
          in: query
          required: true
          description: Name of the shoot type (e.g. "event").
          schema: { type: string }
        - name: creator_id
          in: query
          description: Identifier of a creator, to check coverage for a specific creator.
          schema: { type: string }
      responses:
        '200':
          description: Coverage result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Coverage' }
              example:
                latitude: 34.0522
                longitude: -118.2437
                shoottype: event
                coverage: false
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
  /availability:
    get:
      operationId: getAvailability
      tags: [Availability]
      summary: Get Availability
      description: >-
        Returns available shoot start times for a combination of location, date,
        shoot type and duration. Returned times are always in UTC.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - name: latitude
          in: query
          schema: { type: number }
        - name: longitude
          in: query
          schema: { type: number }
        - name: address
          in: query
          description: Address of the shoot location. Must be a Google Maps valid address.
          schema: { type: string }
        - name: shoottype
          in: query
          required: true
          schema: { type: string }
        - name: duration
          in: query
          required: true
          description: Length of the shoot in minutes.
          schema: { type: integer }
        - name: date
          in: query
          required: true
          description: Date for which to check time availability (ISO date).
          schema: { type: string, format: date }
        - name: creator_id
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Availability result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Availability' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
  /bookings:
    get:
      operationId: listBookings
      tags: [Bookings]
      summary: Get All Bookings
      description: Retrieves all bookings, paginated with limit and offset.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of bookings.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/Booking' }
        '401': { $ref: '#/components/responses/Error' }
    post:
      operationId: createBooking
      tags: [Bookings]
      summary: Create New Booking
      description: >-
        Creates a new photoshoot booking. Provide all shoot details including
        start_at, or set start_at to null to have Snappr collect the start time
        from the end-customer (the response then includes a scheduling_url).
        Always check availability before creating a booking with start_at
        defined, or a 400 NoCoverage/NotAvailable error may be returned.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BookingCreate' }
      responses:
        '200':
          description: The created booking.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '402': { $ref: '#/components/responses/Error' }
  /bookings/{booking_uid}:
    get:
      operationId: getBooking
      tags: [Bookings]
      summary: Get Single Booking
      description: Retrieves a specific booking by its identifier.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/BookingUid'
      responses:
        '200':
          description: The requested booking.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /bookings/{booking_uid}/images:
    get:
      operationId: listBookingImages
      tags: [Images]
      summary: Get All Images For a Booking
      description: Retrieves all the images of a specific booking.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/BookingUid'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of images.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/Image' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /bookings/{booking_uid}/videos:
    get:
      operationId: listBookingVideos
      tags: [Videos]
      summary: Get All Videos For a Booking
      description: Retrieves all the videos of a specific booking.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/BookingUid'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of videos.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/Video' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /editing-jobs:
    get:
      operationId: listEditingJobs
      tags: [Editing Jobs]
      summary: Get All Editing Jobs
      description: Retrieves all editing jobs, paginated with limit and offset. (Beta.)
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of editing jobs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/EditingJob' }
        '401': { $ref: '#/components/responses/Error' }
    post:
      operationId: createEditingJob
      tags: [Editing Jobs]
      summary: Create New Editing Job
      description: >-
        Creates a new editing job. Provide the source images, or set images to
        null to have Snappr collect them from a third-party uploader. The
        Editing Jobs API is in beta; contact your account manager to enable it.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EditingJobCreate' }
      responses:
        '200':
          description: The created editing job.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EditingJob' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '402': { $ref: '#/components/responses/Error' }
  /editing-jobs/{editing_job_uid}:
    get:
      operationId: getEditingJob
      tags: [Editing Jobs]
      summary: Get Single Editing Job
      description: Retrieves a specific editing job by its identifier.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/EditingJobUid'
      responses:
        '200':
          description: The requested editing job.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EditingJob' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /editing-jobs/{editing_job_uid}/images:
    get:
      operationId: listEditingJobImages
      tags: [Images]
      summary: Get All Images For an Editing Job
      description: Retrieves all the images of a specific editing job (source and final).
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/EditingJobUid'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of editing-job images.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/EditingJobImage' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /presets:
    get:
      operationId: listPresets
      tags: [Presets]
      summary: Get All Presets
      description: Retrieves all editing presets defined in the Photography Portal.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of presets.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/Preset' }
        '401': { $ref: '#/components/responses/Error' }
  /shoottypes:
    get:
      operationId: listShootTypes
      tags: [Shoot Types]
      summary: Get All Shoot Types
      description: Returns all available Snappr shoot types.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
      responses:
        '200':
          description: A paginated list of shoot types.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/TypeRef' }
        '401': { $ref: '#/components/responses/Error' }
  /editing-job-types:
    get:
      operationId: listEditingJobTypes
      tags: [Editing Job Types]
      summary: Get All Editing Job Types
      description: Returns all available Snappr editing job types.
      parameters:
        - $ref: '#/components/parameters/AcceptVersion'
      responses:
        '200':
          description: A paginated list of editing job types.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/TypeRef' }
        '401': { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API key passed as a bearer token in the Authorization header
        (Authorization: Bearer <api_key>). Each user has a single unique active
        API key, managed in the Snappr Photography Portal.
  parameters:
    AcceptVersion:
      name: accept-version
      in: header
      required: false
      description: Requested API version (e.g. "1.0.0").
      schema: { type: string, default: '1.0.0' }
    Limit:
      name: limit
      in: query
      description: Maximum number of results to return.
      schema: { type: integer }
    Offset:
      name: offset
      in: query
      description: Offset used for pagination. Defaults to 0.
      schema: { type: integer, default: 0 }
    BookingUid:
      name: booking_uid
      in: path
      required: true
      description: The identifier of the booking.
      schema: { type: string }
    EditingJobUid:
      name: editing_job_uid
      in: path
      required: true
      description: The identifier of the editing job.
      schema: { type: string }
  responses:
    Error:
      description: Error response. See the error catalog for named error codes.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Coverage:
      type: object
      properties:
        latitude: { type: number }
        longitude: { type: number }
        shoottype: { type: string }
        coverage: { type: boolean }
    Availability:
      type: object
      properties:
        latitude: { type: number }
        longitude: { type: number }
        shoottype: { type: string }
        duration: { type: integer }
        date: { type: string, format: date }
        timezone: { type: string }
        available_times:
          type: array
          items: { type: string, format: date-time }
    PaginatedEnvelope:
      type: object
      properties:
        count: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }
    Booking:
      type: object
      properties:
        uid: { type: string }
        title: { type: string }
        status:
          type: string
          description: e.g. paid, paid_pending_schedule.
        credits: { type: integer }
        latitude: { type: number }
        longitude: { type: number }
        shoottype: { type: string }
        start_at: { type: [string, 'null'], format: date-time }
        duration: { type: integer }
        location_notes: { type: string }
        style_notes: { type: string }
        customer_firstname: { type: string }
        customer_surname: { type: [string, 'null'] }
        customer_email: { type: string, format: email }
        customer_mobilephone: { type: string }
        customer_company: { type: [string, 'null'] }
        internal_id: { type: string }
        creator_name: { type: string }
        creator_id: { type: string }
        creator_profile_image_url: { type: string, format: uri }
        scheduling_url:
          type: string
          format: uri
          description: Present when start_at was null; the end-customer picks a time here.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        tags:
          type: array
          items: { type: string }
    BookingCreate:
      type: object
      required: [shoottype, start_at, duration, customer_firstname, customer_email, customer_mobilephone]
      properties:
        title: { type: string }
        latitude: { type: number }
        longitude: { type: number }
        address:
          type: string
          description: Google Maps valid address; alternative to latitude/longitude.
        shoottype: { type: string }
        start_at:
          type: [string, 'null']
          format: date-time
          description: Start time in UTC. Set to null to have Snappr collect it from the end-customer.
        duration: { type: integer }
        location_notes: { type: string }
        style_notes: { type: string }
        customer_firstname: { type: string }
        customer_surname: { type: string }
        customer_email: { type: string, format: email }
        customer_mobilephone: { type: string }
        customer_company: { type: string }
        internal_id: { type: string }
        creator_id: { type: string }
        tags:
          type: array
          items: { type: string }
    EditingJob:
      type: object
      properties:
        uid: { type: string }
        title: { type: string }
        status:
          type: string
          description: e.g. creating, pending_upload, paid, completed.
        credits: { type: integer }
        type: { type: string }
        preset_id: { type: string }
        uploader_firstname: { type: string }
        uploader_surname: { type: string }
        uploader_email: { type: string, format: email }
        uploader_mobilephone: { type: string }
        uploader_company: { type: string }
        internal_id: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    EditingJobCreate:
      type: object
      required: [type, preset_id]
      properties:
        title: { type: string }
        type: { type: string }
        images:
          type: [array, 'null']
          description: Source images. Set to null to have Snappr collect them from a third-party uploader.
          items:
            type: object
            properties:
              file_name: { type: string }
              url_source: { type: string, format: uri }
            required: [url_source]
        uploader_firstname: { type: string }
        uploader_surname: { type: string }
        uploader_email: { type: string, format: email }
        uploader_mobilephone: { type: string }
        uploader_company: { type: string }
        internal_id: { type: string }
        preset_id: { type: string }
    Preset:
      type: object
      properties:
        uid: { type: string }
        name: { type: string }
        description: { type: string }
    Image:
      type: object
      properties:
        uid: { type: string }
        file_name: { type: string }
        url_original: { type: string, format: uri }
        url_thumb: { type: string, format: uri }
    EditingJobImage:
      type: object
      properties:
        uid: { type: string }
        source: { $ref: '#/components/schemas/Image' }
        final: { $ref: '#/components/schemas/Image' }
    Video:
      type: object
      properties:
        uid: { type: string }
        file_name: { type: string }
        url_original: { type: string, format: uri }
    TypeRef:
      type: object
      properties:
        name: { type: string }
        display_name: { type: string }
    Error:
      type: object
      description: Snappr error envelope. Named error in the response body with an optional Problems field on validation errors.
      properties:
        name: { type: string }
        message: { type: string }
        problems:
          type: array
          items: { type: object }
